
<div class="row">
  {{# each products}}

  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="{{this.imagePath}}" alt="..." class="img-responsive">
      <div class="caption">
        <h4>{{this.title}}</h4>
        <p class="product-description">{{this.description}}</p>
      </div>
      <div class="price-button clearfix">
        <div class="price pull-left">{{this.price}}</div>
        <div class="pull-right">
          <a href="#" class="btn btn-success" role="button">Buy</a>
        </div>
      </div>
    </div>
  </div>

  {{/each}}

</div>
